.lines{

	width:800px;
	height:410px;
	background: #f0f0f0;
	margin: 50px auto 0;
	padding: 10px;
	border:1px solid #333;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.titles_row{
	background:#000 !important;
}
.column_title{
	color:#FFF !important;
	font-weight:bold;
	font-size:16px;
}
#line_row{
	display:block;
	float:left;
	width:790px;
	padding:4px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
#line_id{
	float:left;
	width:20px;
}
#line_title{
	float:left;
	width:250px;
	color:#287368;
	text-align:center;
}
#line_frame{
	float:left;
	width:120px;
	color:#b6b6b6;
}
#line_points{
	float:left;
	width:310px;
	color:#b6b6b6;
	overflow:hidden;
	max-height:24px;
}

#pagination a, #pagination strong 
{
	background: #e3e3e3;
	padding: 4px 7px;
	text-decoration: none;
	border: 1px solid #cac9c9;
	color: #292929;
	font-size: 13px;
}

#pagination strong, #pagination a:hover 
{
	font-weight: normal;
	background: #cac9c9;
}	
